Python list
-list stores multiple items in a single variable.
-list items are ordered,changeable and allow duplication

In [6]:
my_list=[1,"apple",2.33,"school",1]
print(my_list)
print(my_list[2]) #ordered
print(len(my_list)) #list length

#list constructor
new_list=list(("apple","oranges","banana","coconut"))
print(new_list)

[1, 'apple', 2.33, 'school', 1]
2.33
5
['apple', 'oranges', 'banana', 'coconut']

In [11]:
#indexing-first item has index 0
my_list=[1,"apple",2.33,"school",1]
print(my_list[1])
#negative indexing
print(my_list[-2])

#range
print(my_list[1:4])
print(my_list[:4])
print(my_list[3:])

#check if item exist or not
new_list=list(("apple","oranges","banana","coconut"))

if 'apple' in new_list:
    print("apple lies in the list")

apple
school
['apple', 2.33, 'school']
[1, 'apple', 2.33, 'school']
['school', 1]
apple lies in the list

In [17]:
#changing value
list1=[2,4,6,8,"ten"]
print(list1)
list1[4]=10
print(list1)

list1[2:4]=["four","six"]
print(list1)

list1[:2]=["even"] #changes index 0 & 1 value by one value
print(list1)

[2, 4, 6, 8, 'ten']
[2, 4, 6, 8, 10]
[2, 4, 'four', 'six', 10]
['even', 'four', 'six', 10]

In [21]:
#insert item
list2=["java","python","c","c++"]
list2.insert(3,"c#") #insert(index,value)
print(list2)

list2.append("javascript") #append(value)
print(list2)

#extend  list
li1=[1,2,3,4]
li2=["one","two","three",4]
print(li1)
li1.extend(li2) #extend(list)
print(li1)
print(li2)

['java', 'python', 'c', 'c#', 'c++']
['java', 'python', 'c', 'c#', 'c++', 'javascript']
[1, 2, 3, 4]
[1, 2, 3, 4, 'one', 'two', 'three', 4]
['one', 'two', 'three', 4]

In [31]:
#remove items
items=["java","python","c","c++"]
items.remove("c") #remove(value)
print(items)
items.remove("python")
print(items)

my_list=[1,"apple",2.33,"school",10]
my_list.pop(2)  #pop(index)
print(my_list) 
my_list.pop() #remove last item
print(my_list)

del my_list[1] #del remove specified index
print(my_list)
del my_list #del completely remove the list

list_new=[1,10,100,"thousand"]
list_new.clear() #clear empty the list
print(list_new)

['java', 'python', 'c++']
['java', 'c++']
[1, 'apple', 'school', 10]
[1, 'apple', 'school']
[1, 'school']
[]

In [38]:
#looping through the list
list1=["apple", "banana", "cherry"]
#Print all items in the list, one by one:
for x in list1:
    print(x)
#Print all items by referring to their index number:
for i in range(3):
    print(list1[i])

apple
banana
cherry
apple
banana
cherry

In [3]:
#list comprehension
'''List comprehension offers a shorter syntax when you want to 
create a new list based on the values of an existing list'''
list_fruits=["mango","orange","apple","cherry","kiwi"]
newlist=[]
for x in list_fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)
#With list comprehension you can do all that with only one line of code:
'''The Syntax
newlist = [expression for item in iterable if condition == True]
'''
list1=[x for x in list_fruits if "a" in x]
print(list1)

['mango', 'orange', 'apple']
['mango', 'orange', 'apple']

In [6]:
#list sort // case sensitive return all capital letter being sort before lower case letter
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort() #sort alphabetically
print(thislist)

thislist.sort(reverse=True)
print(thislist)

# case-insensitive sort function, use str.lower as a key function
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

#reverse order
newlist=[1,2,3,4,5,6]
newlist.reverse()
print(newlist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
['pineapple', 'orange', 'mango', 'kiwi', 'banana']
['banana', 'cherry', 'Kiwi', 'Orange']
[6, 5, 4, 3, 2, 1]

In [18]:
#copy a list
list1=["fire","wood","hot","smoke"]
list2=list1.copy()
print(list2)
#list2==list1 can be done but changes made on list1 will affect list2
list3=[]
list3=list1
list3[0]="water"
print(list1)

#use list() method
list4=["school","books","students","college"]
list5=list(list4)
print(list5)

#using slice operator
list6=list4[:]
print(list6)

['fire', 'wood', 'hot', 'smoke']
['water', 'wood', 'hot', 'smoke']
['school', 'books', 'students', 'college']
['school', 'books', 'students', 'college']

In [20]:
#joining two lists
list_1=["a","e","i","o","u"]
list_2=[1,2,3,4,5]
list_3=list_1+list_2
print(list_3)

#or

for x in list_2:
    list_1.append(x)

print(list_1)

#or use extend()

['a', 'e', 'i', 'o', 'u', 1, 2, 3, 4, 5]
['a', 'e', 'i', 'o', 'u', 1, 2, 3, 4, 5]

Tuples
store multiple items in a single variable.
ordered,allow duplicate  and unchangeable

In [27]:
tuple_new=("apple","ball","cat","dog",1,"cat")
print(tuple_new)
#ordered / indexing
print(tuple_new[3])
print(tuple_new[:3])
print(tuple_new[2:5]) #range
print(tuple_new[-2])
#tuple constructor
tuple1=tuple(("apple","ball","cherry"))
print(tuple1)
print(type(tuple1))

('apple', 'ball', 'cat', 'dog', 1, 'cat')
dog
('apple', 'ball', 'cat')
('cat', 'dog', 1)
1
('apple', 'ball', 'cherry')
<class 'tuple'>

In [37]:
#unchangeable
x=("school","college","student")
print(x[1])
# x[1]="teacher" x.append("teacher") #not possible

#convert to list then do it
y=list(x)
y[2]="teacher"
y.append("library")
y.remove("college")
x=tuple(y)
print(x)

college
('school', 'teacher', 'library')

In [2]:
#unpacking tuples
#we create a tuple, we normally assign values to it. This is called "packing" a tuple
fruits=("apple","banana","cherry")
#unpacking a tuple
(x,y,z)=fruits
print(x)
print(y)
print(z)
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
#using *
numbers=(1,3,5,7,10,12,14)
(x,y,*z)=numbers
print(x)
print(y)
print(z)
print(type(z))

apple
banana
cherry
1
3
[5, 7, 10, 12, 14]
<class 'list'>

In [3]:
#loop through tuple
tuple1=("box","socks","shoes")
for x in tuple1:
    print(x)

box
socks
shoes

In [9]:
#joining tuple
tp1=("a","b","c")
tp2=(1,2,3)
tp3=tp1+tp2
print(tp3)

tp4=tp1*2
print(tp4)

('a', 'b', 'c', 1, 2, 3)
('a', 'b', 'c', 'a', 'b', 'c')

python sets
used to store multiple items in a single variable.
set is a collection which is unordered, unchangeable*, and unindexed.
Duplicates Not Allowed

In [12]:
my_set={"copy","book","box","pen",1,True}
print(my_set)
#True and 1 ,False and 0 is considered the same value
print(len(my_set))

{1, 'box', 'pen', 'book', 'copy'}
5

In [14]:
#set constructor
new_set=set((1,"apple","good",False))
print(type(new_set))

<class 'set'>

In [16]:
for x in  new_set:
    print(x)

print("apple" in new_set)

False
1
good
apple
True

In [27]:
#adding items
set1={"apple","banana","mango"}
set1.add("orange")
print(set1)

set2={1,2,3}
set2.update(set1)
print(set2)

#removing
set2.remove(1) #remove raise error if value say 1 to remove is not present in set
print(set2)
set2.discard("apple") #discard does not raise error
print(set2)

set2.pop()
print(set2)

set2.clear() #empty the set
print(set2)

del set2 #delete the set completely

{'orange', 'mango', 'banana', 'apple'}
{1, 2, 3, 'orange', 'apple', 'banana', 'mango'}
{2, 3, 'orange', 'apple', 'banana', 'mango'}
{2, 3, 'orange', 'banana', 'mango'}
{3, 'orange', 'banana', 'mango'}
set()

In [28]:
for x in set1:
    print(x)

orange
mango
banana
apple

In [43]:
#join sets
set1={"a","i","o","w"}
set2={"e","u",1,"r","a"}
#union() method and | operatur does same
set3=set1.union(set2)
print(set3)

set4=set1|set2
print(set4)
#multiple set
set11={"x","y"}
set3=set1.union(set2,set11) #or set3=set1|set2|set11
print(set3)

#intersection ,&
setnew=set1.intersection(set2)
print(setnew)

set_new=set1&set2
print(set_new)
# intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.
set1.intersection_update(set2)
print(set1)

#difference , -
set12=set2.difference(set1) #set2-set1
print(set12)
print(set2-set1)
#difference_update() method to keep only the items from the first set that are not present in the other set:
set2.difference_update(set1)
print(set2)
#symmetric_difference() method will keep only the elements that are NOT present in both sets.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)
print(set3)

set3=set1^set2
print(set3)
#Use the symmetric_difference_update() method to keep the items that are not present in both sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{1, 'u', 'w', 'e', 'r', 'i', 'o', 'a'}
{1, 'u', 'w', 'e', 'r', 'i', 'o', 'a'}
{1, 'u', 'w', 'e', 'x', 'r', 'i', 'o', 'a', 'y'}
{'a'}
{'a'}
{'a'}
{'e', 1, 'r', 'u'}
{'e', 1, 'r', 'u'}
{1, 'r', 'u', 'e'}
{'google', 'microsoft', 'cherry', 'banana'}
{'google', 'microsoft', 'cherry', 'banana'}

In [45]:
#frozenset- set that cannnot be innutable
x=frozenset({"box","ball","bed"})
print(x)

frozenset({'ball', 'box', 'bed'})

dictionary
-key:value pairs
-ordered*, changeable and do not allow duplicates.

In [52]:
my_dict={
"faculty":"bct",
"roll_no":18,
"year":2080
}
print(my_dict)
#The values in dictionary items can be of any data type:
my_dict={
    "faculty":"bct",
"roll_no":18,
"year":2080,
    "pass":True,
    "subjects":["math","nepali","english"]
}
print(my_dict)
print(type(my_dict))

#dict() constructor
new_dict=dict(name='kiran',age=18,country="nepal")
print(new_dict)

{'faculty': 'bct', 'roll_no': 18, 'year': 2080}
{'faculty': 'bct', 'roll_no': 18, 'year': 2080, 'pass': True, 'subjects': ['math', 'nepali', 'english']}
<class 'dict'>
{'name': 'kiran', 'age': 18, 'country': 'nepal'}

In [57]:
#accessing value
x=new_dict['name']
print(x)

x=new_dict.get('country')
print(x)

x=new_dict.keys()
print(x)

x=new_dict.values()
print(x)

kiran
nepal
dict_keys(['name', 'age', 'country'])
dict_values(['kiran', 18, 'nepal'])

In [24]:
#changing values
new_dict={
"country":"nepal",
"district":"ilam",
"dob":2004
}
print(new_dict)
new_dict['dob']=2000
print(new_dict)

new_dict.update({'dob':2004})
print(new_dict)

#adding value
new_dict['color']="blue"
print(new_dict)

new_dict.update({"fruit":"mango"})
print(new_dict)

{'country': 'nepal', 'district': 'ilam', 'dob': 2004}
{'country': 'nepal', 'district': 'ilam', 'dob': 2000}
{'country': 'nepal', 'district': 'ilam', 'dob': 2004}
{'country': 'nepal', 'district': 'ilam', 'dob': 2004, 'color': 'blue'}
{'country': 'nepal', 'district': 'ilam', 'dob': 2004, 'color': 'blue', 'fruit': 'mango'}

In [25]:
#remove items
new_dict.pop("fruit")
print(new_dict)

# new_dict.popitem()
# print(new_dict)

del new_dict["dob"]
print(new_dict)

new_dict.clear()
print(new_dict)

{'country': 'nepal', 'district': 'ilam', 'dob': 2004, 'color': 'blue'}
{'country': 'nepal', 'district': 'ilam', 'color': 'blue'}
{}

In [33]:
#loop through dictionary
dictA={
    "animal":"cat",
    "number":20,
    "college":"nce",
    "correct":True,
    "fruit":"orange"
}
print(dictA)

for x in dictA:
    print(x)

for x in dictA.values():
    print(x)

for x in dictA.keys():
    print(x)

for x,y in dictA.items():
    print(x,y)

{'animal': 'cat', 'number': 20, 'college': 'nce', 'correct': True, 'fruit': 'orange'}
animal
number
college
correct
fruit
cat
20
nce
True
orange
animal
number
college
correct
fruit
animal cat
number 20
college nce
correct True
fruit orange

In [35]:
#copy dictionary
dict1={
    "a":"apple",
    "b":"ball",
    "c":"cat"
}
dict2=dict1.copy()
print(dict2)

dict3=dict(dict1)
print(dict3)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [36]:
#nested directories
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}