Python indentation
-space at the beginning of the code line.

In [1]:
if 10>5:
    print("10 is greater than 5")

10 is greater than 5

comments
comments starts with a '#'

In [5]:
print("Hello kiran")
#This is comment.

Hello kiran

output /print

In [11]:
print("hello ")
print('world')
print("hello",end=" ") #print multiple words on same line
print("world")
print("world is 'earth' ")

#this is wrong=> print("world is "earth" ")
print(3)
print(100)

#do math inside print
print(2*3) #6
print(2+3) #5
print("i am",20,"years old") #combine text and number

hello
world
hello world
world is 'earth'
3
100
6
5
i am 20 years old

python variables
-common for storing data value
-Variable names are case-sensitive.
-variable naming techniques { camelCase ,PascalCase ,snake_case }

In [39]:
x=20 
y="kiran" #is same as y='kiran'
print(x)
print(y)
print(len(y)) #print length of string y
#casting-specify the data type
x=int(20)
y=str(30)
z=float(40)
print(x,y,z)

#get the type
print(type(x),type(y),type(z))

#multi value assign to multiple variable
a,b,c="ram","nce",20
print(a,b,c)

#one value ,multi variable
p=q=r="school"
print(p,q,r)

#global variable
#creating variable outside function and using it inside a function
x="great"
def my_function():
    print("learning python is "+x)

my_function()

#or -use global keyword

def myfunc():
    global x
    x="good"

myfunc()
print("python is "+ x)

20
kiran
5
20 30 40.0
<class 'int'> <class 'str'> <class 'float'>
ram nce 20
school school school
learning python is great
python is good

python data type 
'''Text Type:	str
   Numeric Types:	int, float, complex
   Sequence Types:	list, tuple, range
   Mapping Type:	dict
   Set Types:	set, frozenset
   Boolean Type:	bool
   Binary Types:	bytes, bytearray, memoryview
   None Type:	NoneType'''

In [36]:
#python numbers -ther are three types of python numeric
x=10 #int
y=2.30 #float
z=30j  #complex

#random number
import random
seq=[1,2,"apple",2.2]
x=['A','B','C','D']
print(random.randrange(1,10))
print(random.randint(1,10)) #Returns a random integer, a <= N <= b
print(random.random()) #Returns a random floating-point number, 0.0 <= N < 1.0
print(random.uniform(1.2,5.6))#Returns a random floating-point number , a <= N <= b.
print(random.choice(seq))	#Returns a random element from a non-empty sequence (list, tuple, string).
random.shuffle(x)	#Shuffles a list x in place.
print(x)

7
9
0.40158291844131033
2.8506013363625593
2
['C', 'A', 'B', 'D']

casting

In [37]:
x=float(1) 
y=int(2.2)
z=complex(2)
print(x,y,z)

1.0 2 (2+0j)

python string

In [64]:
a="python string"
print(a)
#string are array
print(a[2])
print(a[5])
#looping through sting
for x in 'python':
    print(x)
#check_string
text="the best thing is to learn python"
print("python" in text)

#use if statement
if "best" in text:
    print("yes python is best")

#use not in ststement
print("java" not in text)
if "java" not in text:
    print("we are not learning java")

#slicing
x="hello python"
print(x[2:5])

print(x[:3]) #slice from start
print(x[2:]) #slice from end

print(x[-5:-2]) #negative slicing

#upper case + lower case
a="waterisfluid"
print(a.upper())
print(a.lower())

#remove white space
b="hello in python"
print(a.strip()) #strip() method removes any whitespace

#replace string
a="replace string"
print(a.replace('r','h')) #replace() method replaces a string with another string

#split string
#split() method returns a list where the text between the specified separator becomes the list items.
a="hello ,there"
print(a.split(","))

#string concatenation
a="hello"
b="world"
c=a+b
print(c)
print(a+" "+b)

#string_format
#f_string
age=20
txt=f"my name is kiran , i am {age}"
print(txt)

python string
t
n
p
y
t
h
o
n
True
yes python is best
True
we are not learning java
llo
hel
llo python
yth
WATERISFLUID
waterisfluid
waterisfluid
heplace sthing
['hello ', 'there']
helloworld
hello world
my name is kiran , i am 20

python operator

In [83]:
#arithmetic operator
print(2+3) #addition
print(5-2) #substraction
print(2*2) #multiplication
print(2**3) #power
print(4/3) #division
print(3%2) #modulus
print(15//2) #floor division

#assidnment operator
x=5
x+=3
x-=2
x*=2
x/=3
x**=3
print(x)
#Walrus Operator , :=
print(y:=4) #y=4 and print 4

#comparator operators
print(5==5) #equal
print(2!=3) #not equal
print(2<3) #less then
print(3>2) #greater then
print(3>=3) #greater then or equal to
print(3<=5) #less then or equal to

#logical operator
x=5
print(x==5 and x<20) #and
print(x<10 or x<20) #or
print(not(x==5)) #not

#identity operator
x=['good','great','bad']
z=['good','great','bad']
print(x is z) #	Returns True if both variables are the same object
print(x is not z)
print(x==z)
'''is - Checks if both variables point to the same object in memory
== - Checks if the values of both variables are equal
'''

#membership operator
fruit=['mango','apple','orange']
print('banana' in fruit) #Returns True if a sequence with the specified value is present in the object
print('mango' in fruit)
print('coconut' not in fruit) #Returns True if a sequence with the specified value is not present in the object

#bitwise operators-compare binary operators
print(5&3) #5=>101 (and) 3=>011 =>001(1)
print(6|3) #or
print(6^2) #xor
print(~7) #not
print(3<<2)#	Zero fill left shift (shift binary 3,two times left)
print(3<<2)

5
3
4
8
1.3333333333333333
1
7
64.0
4
True
True
True
True
True
True
True
True
False
False
True
True
False
True
True
1
7
4
-8
12